body {
    background-color: black;
}
canvas {
    max-width: 100%;
    height: auto;
    position:absolute;
    top:40%;
    left:50%;
    transform:translate(-50%, -50%);
}
#up {
    position:absolute;
    top:80%;
    left:65%;
    transform:translate(-50%, -50%);

}
#down {
    position:absolute;
    top:90%;
    left:65%;
    transform:translate(-50%, -50%);

}
#right {
    position:absolute;
    top:90%;
    left:80%;
    transform:translate(-50%, -50%);

}
#left {
    position:absolute;
    top:90%;
    left:80%;
    transform:translate(-50%, -50%);

}
@media screen and (max-width: 600px) { 
canvas {
    width: 95%;
    top:27%;
}
#up {
    top:58%;
    width: 22%;
    height: 15%;
    left:50%;
    background-color: green;
    border: 5px solid yellowgreen;

}
#down {
    top:92%;
    width: 22%;
    height: 15%;
    left:50%;
    background-color: green;
    border: 5px solid yellowgreen;
}
#right {
    top:75%;
    width: 22%;
    height: 15%;
    left:75%;
    background-color: green;
    border: 5px solid yellowgreen;
}
#left {
    top:75%;
    width: 22%;
    height: 15%;
    left:25%;
    background-color: green;
    border: 5px solid yellowgreen;
}
    }